<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>Tran Thanh Truc</title>
  </style>
</head>
<body background="{{url_for('static', filename='nen.jpg')}}">
  <div class="main">
    <p class="head">Hệ thống nhận dạng trái cây</p>
    <form enctype="multipart/form-data" action="{{url_for('predict')}}"id="form1" method="POST">
     <p class="head_2">Tải hình ảnh</p>
     <br>
     <input type="file" name="file" id="file" accept="image/*"/>
      <br><br><br>
      <a class="submit" onclick="predict();" >Predict</a>  
      <p class="head_2">{{output}}</p>
    </form>
  </div> 
  <div class="photo"hidden>
    <img src="{{ user_image }}">
  </div>
    <script>
        function predict(){
            document.getElementById("form1").submit();
        }
    </script>
</body>
</html>